*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav, ul, ol{ list-style: none;}
a{text-decoration: none; cursor:pointer;}
img {
    max-width: 100%;
    display: block;
}
.bgserv1{
    background:#24093e;
}
.bgserv2{
    background:#190936;
}
.bgserv3{
    background:#090b20;
}