@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*{
    margin:0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #190936;
}
nav, ul, ol{ list-style: none;}
a{text-decoration: none; cursor:pointer;}

img {
    max-width: 100%;
    display: block;
}
.bgserv1{
    background:#24093e;
}
.bgserv2{
    background:#190936;
}
.bgserv3{
    background:#090b20;
}